body {
    font-family: sans-serif;
    background: #ccc;
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 750px;
    border-radius: 4px;
    background: #fff;
    padding: 20px;

}

.date {
    position: absolute;
    display: flex;
    top: 5%;
    right: 5%;
    font-weight: 900;
    font-size: 0.9em;
}

.date span {
    color: chocolate;
}

h1 {
    text-align: center;
    padding: 40px;
    color: chocolate;
}